<h4> Listado </h4>
<ul class="list-grpup">
   <li *ngFor="
    let character of characterlist ;
    let i= index;
    let isfirst = first
    let islast = last
    let iseven = even
    let isodd = odd
    "

    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark': islast,
      'list-group-item-info': iseven
    }">

    <div>
      <span class="text-primary">{{ i + 1 }}.</span>
      <span>  {{character.name}} - </span>
      <strong>Power: </strong>
      <span>{{character.power}}</span>
    </div>

  <button class="btn btn-danger" (click)="onDeleteCharacter( character.id)">X</button>

  </li>
</ul>
